<div class="team-details">
    <div class="row message hide"><span></span></div>
    <div class="team-info">
        <p class="team-description">{{description}}</p>
    </div>
    {{can-edit}}
        <div class="team-edit-link"><a href="javascript:" onclick="S.teams.details.editInfo()">Edit Info</a></div>
        <div class="team-form hide">
            <div class="row">
                <div class="row field long">Team Name</div>
                <div class="row hover input"><input type="text" id="teamname" placeholder="Alpha" value="{{name}}" /></div>    
            </div>
            <div class="row">
                <div class="row field long">Description</div>
                <div class="row hover input long"><input type="text" id="team_description" value="{{description}}" placeholder="Building open source technologies for the web" /></div>
            </div>
            <div class="row pad-top text-center buttons">
                <a href="javascript:" class="button apply hide">Save Changes</a>
                <a href="javascript:" class="button cancel" onclick="S.teams.details.cancelEdit()">Cancel</a>
            </div>
        </div>
    {{/can-edit}}

    <div class="tabs">{{tabs}}</div>
    <div class="tab-content">
        <div class="movable">{{content}}</div>
    </div>
</div>