<header class="row pad-sm text-center">
    {{boards}}
    <div class="absolute">
        <a href="javascript:" class="button btn-boards">
            <img src="/images/boards.png" />
            <span>Boards</span>
        </a>
    </div>
    {{/boards}}
    <div class="col logo">
        <img src="/images/logo-xs-black.png" />
    </div>
    {{user}}
    <div class="col right pad-right-sm">
        <div class="col profile {{no-user}}no-user{{/no-user}}">
            {{no-user}}
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-user" x="0" y="0" width="32" height="32"></use>
            </svg>
            {{/no-user}}
        </div>
    </div>
    {{/user}}
</header>

{{boards-2}}
<div class="bg-for-boards-menu hide">&nbsp;</div>
<div class="boards-menu bg hide">
    <div class="scroller">

        <div class="items">
            <div class="row" style="height:20px;">&nbsp;</div>
            {{boards-menu}}
        </div>
        <div class="row hover pad">
            <a href="javascript:" class="btn-create-board">Create a new board</a>
        </div>
        <div class="row hover pad">
            <a href="javascript:" class="btn-always-show">Always keep this menu open</a>
        </div>

        <div class="row hover pad">
            <a href="javascript:" class="btn-all-color">Colorize Lists</a>
        </div>

        <div class="row hover pad">
            <a href="javascript:" class="btn-import-trello">Import from Trello</a>
        </div>
    </div>
</div>
{{/boards-2}}

<script type="text/html" id="template_import_trello">
    <div class="row field">Upload JSON file</div>
    <div class="row hover input upload"><iframe src="/Import/Trello" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>
    <div class="row hover input margin-top-sm">
        <select id="trello_board_copytype">
            <option value="0">Merge Existing Board</option>
            <option value="0">Replace Existing Board</option>
        </select>
    </div>


    <div class="row text-center">
        <input type="button" class="button apply btn-upload" value="Upload file" />
    </div>
</script>