<div class="row hover item item-{{id}}">
    <a href="{{url}}">
        <span class="col color-box color-{{color}}" style="background-color:var(--board_color{{color}})">&nbsp;</span>
        <span class="col pad-top-sm pad-left board-label">
            <span class="board-title block">{{title}}</span>
            {{subtitle}}<span class="board-owner">{{owner}}</span>{{/subtitle}}
        </span>
        <span class="col right fav">
            <span class="icon-star">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-{{star}}" x="0" y="0" width="32" height="32"></use>
                </svg>
            </span>
        </span>
    </a>
</div>
