<div class="board-form">
    <div class="row message hide"><span></span></div>
    <div class="row hover">
        <div class="col field long">Board Name</div>
        <div class="col input"><input type="text" id="boardname" value="{{name}}" placeholder="Weekend Project" /></div>
        <div class="col input pad-left-sm">
            <div class="color-input" title="Board Color" style="background-color:{{color}}" onclick="S.boards.colorPicker.show()"></div>
        </div>
    </div>
    <div class="row hover hide">
        <div class="col field long">Type</div>
        <div class="col input">
            <select id="boardtype" disabled="disabled">
                <option value="0" selected="selected">Kanban</option>
                <option value="1">Timeline</option>
            </select>
        </div>
    </div>
    {{no-id}}
    <div class="row hover choose-org">
        <div class="col field long">Organization</div>
        <div class="col input">
            <select id="orgId">{{org-options}}</select>
        </div>
        <div class="col right icon btn-add-org pad-top-sm pad-right">
            <a href="javascript:" title="Create a new Organization">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-addsmall" x="0" y="0" width="32" height="32"></use>
                </svg>
            </a>
        </div>
    </div>
    {{/no-id}}
    {{has-id}}
    <div class="row hover chosen-org">
        <div class="col field long">Organization</div>
        <div class="col text bold">
            {{org-name}}    
        </div>
    </div>
    {{/has-id}}
    
    <div class="row hover cardtype">
        <div class="col field long">Default Card</div>
        <div class="col input">
            <select id="cardtype">{{cardtypes}}</select>  
        </div>
    </div>

    <div class="row pad-top text-center">
        <a href="javascript:" class="button apply" onclick="{{submit-click}}">{{submit-label}}</a>
        <a href="javascript:" class="button cancel" onclick="S.boards.add.hide()">Cancel</a>
    </div>
</div>
<div class="color-picker" style="display:none;">
    <div class="row pad-left pad-bottom"><h5>Select a color for your new board</h5></div>
    <div class="color" style="background-color:#f89e3d"></div>
    <div class="color" style="background-color:#ffd637"></div>
    <div class="color" style="background-color:#24c838"></div>
    <div class="color" style="background-color:#1bdbc0"></div>
    <div class="color" style="background-color:#33CCFF"></div>
    <div class="color" style="background-color:#3399FF"></div>
    <div class="color" style="background-color:#fe6133"></div>
    <div class="color" style="background-color:#FF99FF"></div>
    <div class="color" style="background-color:#b25ff3"></div>
    <div class="color" style="background-color:#6c57f3"></div>
    <div class="color" style="background-color:#9f9f9f"></div>
    <div class="color" style="background-color:#272727"></div>
    <div class="row text-center pad-top clear">
        <a href="javascript:" class="button cancel" onclick="S.boards.colorPicker.hide()">Cancel</a>
    </div>
</div>