<div class="bg-for-boards-menu hide"><div class="dark-area">&nbsp;</div></div>
<div class="boards-menu bg has-top-arrow hide">
    <div class="scroll-container">
        <div class="movable">
            <div class="items">
                {{items}}
            </div>
            <div class="row hover pad">
                <a href="javascript:" class="btn-new-board">Create a new board</a>
            </div>
            <div class="row hover pad">
                <a href="javascript:" class="btn-always-show">Pin this menu</a>
            </div>

            <div class="row hover pad">
                <a href="javascript:" class="btn-all-color">Colorize Lists</a>
            </div>

            <div class="row hover pad">
                <a href="javascript:" class="btn-import-trello">Import from Trello</a>
            </div>
        </div>
    </div>
    
</div>
