[submodule "App/Scripts/selector"]
	path = App/Scripts/selector
	url = http://www.github.com/websilk/selector
[submodule "App/CSS/tapestry"]
	path = App/CSS/tapestry
	url = http://www.github.com/websilk/tapestry
[submodule "App/Core"]
	path = App/Core
	url = http://github.com/datasilk/Core
