<script type="text/html" id="template_listmenu">
    <div class="list-menu bg white">
        <div class="row menu-header text-center pad-top pad-width pad-bottom-xs">
            <div class="col"><span>List Actions</span></div>
            <div class="col right">
                <a href="javascript:" class="icon tiny btn-close">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row">
            <ul>
                <li class="separator"></li>
                <li class="item add-card">Add Card...</li>
                <li class="item copy-list disabled">Copy List...</li>
                <li class="item move-list disabled">Move List...</li>
                <li class="separator"></li>
                <li class="item sort-by disabled">Sort By...</li>
                <li class="separator"></li>
                <li class="item move-all-cards disabled">Move All Cards...</li>
                <li class="item archive-all-cards disabled">Archive All Cards...</li>
                <li class="separator"></li>
                <li class="item archive-list">Archive List</li>
            </ul>
        </div>
    </div>
</script>