@import "tapestry/tapestry.less";
@import "themes/default.less";

html{display:flex; min-height:100%;}
body{width:100%; position:relative; overflow-x:hidden; font-weight:400;}

*{box-sizing:border-box;}

body > .bg.for-popup{background-color:rgba(0,0,0,0.5) !important; position:absolute; top:44px; right:0; bottom:0; left:0; z-index:7777;}
.for-popup{
    & > .popup{position:fixed; min-width:200px; z-index:5000; max-height:100%; max-width:100%; 
               overflow-y:auto; overflow-x:hidden; padding:20px 20px 30px 20px;
        &.right{right:0;}
        .btn-close{position:absolute; right:0px; z-index:5010;}
    }
}
.input.long{width:100%;}
.svgicons{display:none;}
.loader{margin:0 auto; width:48px; height:48px; box-sizing:border-box;}
.align-left{text-align:left; display:inline-block;}
.align-center{text-align:center; display:inline-block;}
.align-right{text-align:right; display:inline-block;}
.clear{clear:both;}
.content{display:block; max-width:1024px; margin:0 auto; padding:0 20px;}
a{font-weight:400;}
a:link{text-decoration:none;}
a:hover{text-decoration:underline;}
.field{font-weight:400;}
.block{display:block;}
.transparent{opacity:0};
.pos-center{margin:0 auto;}
.cursor{cursor:default;}
.pointer{cursor:pointer;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* header */
header {
    .btn-boards{ white-space:nowrap;
        img{margin:2px -5px 0 -5px; width:22px; display:inline-block;}
        span{font-weight:400;}
    }

    .logo img{height:26px; margin-top:2px; opacity:0.15;}
}

/* input fields */
input[type]:not([type=button]):not([type=submit]):not([type=radio]){border-radius:3px;}

/* buttons */
.button{font-weight:bold;}

/* popup menus */
.has-top-arrow, .has-bottom-arrow, .has-left-arrow, .has-right-arrow{border-style:solid; border-color:transparent;}

/* tabs */
.tab-content{padding:0 !important; clear:both; overflow:hidden;}
    .tabs{width:100%; padding:0 13px 0 13px;
        &:after{content:''; display:block; clear:both;}
    }
    .tab{float:left; padding:5px 15px; margin:10px 5px 0 0; border-top-left-radius:5px; border-top-right-radius:5px; cursor:pointer;}

 /* grid items */
 .grid-items{
     @height:48px;
    .item{float:left; width:~"calc(33% - 6px)"; height:@height; box-sizing:border-box; margin:3px;}
    .item > a{width:100%; display:block; height:@height;}
    &:after{content:''; display:block; clear:both;}
    .item-title{font-weight:bold;}
    .item-subtitle{padding-top:3px;}
}

 /* title bar */
.title-bar{padding:5px; cursor:default;
    h5{display:inline-block !important; font-size:1.2rem;}
    .owner{padding:5px 5px 0 0;}
}

/* tooltip */
.tooltip{padding:7px 15px; border-radius:7px; font-size:15px; position: relative; border-width:2px; border-style:solid;}
.tooltip:after{
    content: ''; position: absolute; display: block; width: 0; top: -12px; left: 48%;
    border-style: solid; border-width: 0 11px 11px; margin-left: -11px; z-index: 1; 
}