<div class="card-field-title transparent">
    <textarea>{{title}}</textarea>
    <div class="textarea-clone">{{title}}<div></div></div>
</div>
<div class="icon-share">
    <div class="row hover pad-sm pointer" onclick="S.kanban.card.share.show()" title="Share this card with other people">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-share" x="0" y="0" width="32" height="32"></use>
        </svg>
    </div>
</div>
<div class="icon-dots">
    <div class="row hover pad-sm pointer" onclick="S.kanban.card.menu.show()">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-dots" x="0" y="0" width="32" height="32"></use>
        </svg>
    </div>
    <div class="menu bg" style="display:none">
        <ul>
            <li>
                <div class="row layouts">
                    <div class="col">
                        <div class="row hover" title="Left Panel Layout" onclick="S.kanban.card.layout('leftside')">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#icon-leftside" x="0" y="0" width="32" height="32"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row hover" title="Popup Modal Layout" onclick="S.kanban.card.layout('center')">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#icon-modal" x="0" y="0" width="32" height="32"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row hover" title="Right Panel Layout" onclick="S.kanban.card.layout('rightside')">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#icon-rightside" x="0" y="0" width="32" height="32"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row hover" title="Fullscreen Layout" onclick="S.kanban.card.layout('fullscreen')">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#icon-fullscreen" x="0" y="0" width="32" height="32"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <hr/>
            </li>
            <li>
                <div class="row hover">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-user" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Members</span>
                </div>
            </li>
            <li>
                <hr/>
            </li>
            {{can-move}}
            <li>
                <div class="row hover">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-move" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Move</span>
                </div>
            </li>
            {{/can-move}}
            <li>
                <div class="row hover">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-copy" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Copy</span>
                </div>
            </li>
            <li>
                <hr/>
            </li>
            {{can-archive}}
            <li class="item-archive {{archive-class}}">
                <div class="row hover btn-archive">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-archive" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Archive</span>
                </div>
            </li>
            {{/can-archive}}

            {{can-restore}}
            <li class="item-restore {{restore-class}}">
                <div class="row hover btn-restore">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-archive" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Restore</span>
                </div>
            </li>
            {{/can-restore}}
            
            {{can-delete}}
            <li class="item-delete {{delete-class}}">
                <div class="row hover btn-delete">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Delete</span>
                </div>
            </li>
            {{/can-delete}}
        </ul>
    </div>
</div>
<div class="messages for-card"></div>
<div class="card-sub-title row pad-bottom-sm">
    In Board <div class="board-color" style="background-color:#{{board-color}}"></div> 
    <a href="{{board-url}}#card={{card-id}}"><b>{{board-name}}</b></a>, List <b>{{list-name}}</b>.
    <span class="assigned-to" {{not-assigned}}style="display:none"{{/not-assigned}}>
        {{assigned-to}}
    </span>
    <a class="button outline small not-assigned" href="javascript:" {{assigned}}style="display:none"{{/assigned}}>
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-user" x="0" y="0" width="32" height="32"></use>
        </svg>
        <span>Assign To</span>
    </a>
    <a class="button outline small no-duedate" href="javascript:" {{has-duedate}}style="display:none"{{/has-duedate}}>
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-calendar" x="0" y="0" width="32" height="32"></use>
        </svg>
        <span>Set Due Date</span>
    </a>
    <a class="button outline small has-duedate" href="javascript:" {{no-duedate}}style="display:none"{{/no-duedate}}>
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-calendar" x="0" y="0" width="32" height="32"></use>
        </svg>
        <span>{{duedate}}</span>
    </a>
    {{labels-list}} 
    <!--<a href="javascript:" class="button outline small btn-add-label">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
        </svg>
        <span>Add Label</span>
    </a>
    <a href="javascript:" class="button outline small btn-add-checklist">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-check" x="0" y="0" width="32" height="32"></use>
        </svg>
        <span>Add Checklist</span>
    </a>-->
</div>

<div class="row card-modals text-center"></div>

<div class="row card-details">
    {{description}}
    {{comments}}
</div>

<script type="text/html" id="temp_assign_to">
    <div class="col assign-to-form bg">
        <div class="row">
            <div class="col field">Assign To...</div>
            <div class="col input"><select id="card_assignto"></select></div>
            <div class="col right icon pad-top pad-right faded small">
            <a href="javascript:" class="btn-cancel pad-right-sm">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                </svg>
            </a>
        </div>
        </div>
    </div>
</script>

<script type="text/html" id="temp_set_duedate">
    <div class="col duedate-form bg">
        <div class="row">
            <div class="col field">Due Date</div>
            <div class="col input"><input type="date" id="card_duedate"/></div>
            <div class="col text"><a href="javascript:" class="clear-duedate" onclick="S.kanban.card.dueDate.submit(true)">clear</a></div>
            <div class="col right icon pad-top pad-right pad-left-sm faded small">
                <a href="javascript:" class="btn-cancel pad-right-sm">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="temp_share">
    <div class="col share-form bg pad">
        <div class="messages"></div>
        <div class="row share-title">
            <div class="col right icon pad-left-sm faded small">
                <a href="javascript:" class="btn-cancel pad-right-sm">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <h6>Invite users to view & collaborate on this card</h6>
        </div>
        <div class="row field url">
            <div>
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-copy" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <a href="#url#" target="_blank">#url#</a>
        </div>
        <div class="row field">Name or email address</div>
        <div class="row input">
            <div class="search-results" style="display:none"></div>
            <input type="text" class="search-input" id="share_name" />
        </div>
        <div class="row invited-users"></div>
        <div class="row pad-top invite-options">
            <div class="col six mobile">
                <div class="row hover input">
                    <input type="checkbox" id="invite_canupdate" />
                    <label for="invite_canupdate">Can make changes</label>
                </div>
            </div>
            <div class="col six mobile">
                <div class="row hover input">
                    <input type="checkbox" id="invite_cancomment" />
                    <label for="invite_cancomment">Can post comments</label>
                </div>
            </div>
        </div>
        <div class="row pad-top buttons text-center">
            <button class="apply btn-send">Send Invites</button>
            <button class="cancel btn-cancel">Cancel</button>
        </div>
    </div>
</script>

<script type="text/html" id="temp_invited_user">
    <div class="col six mobile invited cursor" data-id="#id#" title="#name#"><div class="row hover"><span>#name#</span></div></div>
</script>
