<div class="card-field-title transparent">
    <textarea></textarea>
    <div class="textarea-clone"><div></div></div>
</div>
<div class="sub-title row pad-height-sm">
    <div class="col">In list <b>{{list-name}}</b></div>
</div>
<div class="row">
    <div class="col card-details">
        {{labels}}
        <div class="row">Labels</div>
        <div class="row labels">{{labels-list}}</div>
        {{/labels}}

        <div class="row hover description-link new-description {{no-description}}">
            <a href="javascript:">Edit the description...</a>
        </div>
        <div class="row description {{has-description}}">
            <div class="row description-title pad-top-sm">
                <div class="col pad-right-sm">Description</div>
                <div class="col description-link"><a href="javascript:">Edit</a></div>
            </div>
            <div class="markdown"></div>
        </div>
        <div class="row field-description pad-bottom-lg hide">
            <form>
                <div class="row markdown pad-bottom pad-top-sm">
                    <textarea id="card_description" rows="3" placeholder="description...">{{description}}</textarea>
                </div>
                <div class="row">
                    <div class="col pad-right">
                        <button type="submit" class="button apply">Save</button>
                    </div>
                    <div class="col icon pad-top-sm faded small">
                        <a href="javascript:" class="btn-cancel">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col icon pad-right-sm">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-chat-single-left" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <h5>Add Comment</h5>
        </div>
    </div>
    <div class="col card-menu right">
        <div class="row">
            <h6>Add</h6>
            <a href="javascript:" class="btn-members button grey faded">Members</a>
            <a href="javascript:" class="btn-labels button grey faded">Labels</a>
            <a href="javascript:" class="btn-checklist button grey faded">Checklist</a>
            <a href="javascript:" class="btn-duedate button grey faded">Due Date</a>
            <a href="javascript:" class="btn-attachment button grey faded">Attachment</a>
        </div>
        <div class="row pad-top">
            <h6>Action</h6>
            <div class="row btn-move"><a href="javascript:" class=" button grey faded">Move</a></div>
            <div class="row btn-copy"><a href="javascript:" class="button grey faded">Copy</a></div>
            <div class="row btn-watch"><a href="javascript:" class="button grey faded">Watch</a></div>
            <div class="row btn-archive {{archive-class}}"><a href="javascript:" class="button grey">Archive</a></div>
            <div class="row btn-restore {{restore-class}}"><a href="javascript:" class="button grey">Restore Card</a></div>
            <div class="row btn-delete {{delete-class}}"><a href="javascript:" class="button red">Delete</a></div>
        </div>
    </div>
</div>