<script type="text/html" id="template_newcard">
    <form>
        <div class="row text-field">
            <textarea class="new-card-label" placeholder="Add a card..."></textarea>
            <div class="textarea-clone"><div></div></div>
        </div>
        <div class="row pad-top-sm">
            <div class="col">
                <button type="submit" class="button btn-save-newcard">Save</button>
            </div>
            <div class="col pad-left">
                <a href="javascript:" class="icon small btn-close margin-top-sm">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
    </form>
</script>