<header class="row pad-sm text-center">
    {{boards}}
    <div class="absolute">
        <a href="javascript:" class="button btn-boards">
            <img src="/images/boards.png" />
            {{boards-label}}<span>Boards</span>{{/boards-label}}
        </a>
    </div>
    {{/boards}}
    <div class="col logo">
        <img src="/images/logo-xs-black.png" />
    </div>
    {{user}}
    <div class="col right pad-right-sm">
        <div class="col profile {{no-photo}}no-photo{{/no-photo}} btn-user">
            {{no-photo}}
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-user" x="0" y="0" width="32" height="32"></use>
            </svg>
            {{/no-photo}}
        </div>
    </div>
    {{/user}}
</header>
{{user}}
{{user-menu}}
{{org-templates}}
{{/user}}

{{boards}}
{{boards-menu}}
{{/boards}}

<script type="text/html" id="template_import_trello">
    <div class="row field">Upload JSON file</div>
    <div class="row hover input upload"><iframe src="/Import/Trello" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>
    <div class="row hover input margin-top-sm">
        <select id="trello_board_copytype">
            <option value="0">Merge Existing Board</option>
            <option value="0">Replace Existing Board</option>
        </select>
    </div>


    <div class="row text-center">
        <input type="button" class="button apply btn-upload" value="Upload file" />
    </div>
</script>