<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http:/www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta http-equiv="Content-Language" content="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,user-scalable=yes" />
    <link type="text/css" rel="stylesheet" href="/css/platform.css?v={{version}}" />
    {{head-css}}
    <link rel="icon" type="image/ico" href="{{favicon}}?v={{version}}" />

    <link rel="apple-touch-icon" href="/images/mobile/iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/mobile/ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/mobile/iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/mobile/ipad-retina.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="manifest" href="/android-manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body class="box">
    <div class="bg for-popup hide" onclick="S.popup.bg(event)"></div>
    {{body}}
    <script type="text/html" id="template_popup">
        <div class="row pad-bottom">
            <div class="col title"><h5>#title#</h5></div>
            <div class="col icon small btn-close">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        #body#
    </script>
    <div class="svgicons">{{svg-icons}}</div>
    <script src="/js/platform.js?v={{version}}"></script>
    <script>S.version = '{{version}}';</script>
    {{scripts}}
</body>
</html>