<script type="text/html" id="template_upload_modal">
    <div class="row upload-modal">
        <div class="col icon-close">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
            </svg>
        </div>
        <h4>Drop Files to your Card</h4>
        <p>
            Drag & drop files from your desktop into this window to be uploaded for the card "#card-name#".
        </p>
        <p>
            You can also use the file dialog to 
            <span>
                <input type="file" id="uploadfiles" multiple />
                <button id="btnuploadfiles" class="apply">Upload Attachments</button>
            </span>
        </p>
    </div>
</script>