<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true" startupTimeLimit="120" requestTimeout="00:05:00" hostingModel="OutOfProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="7773" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
      <handlerSettings>
        <handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
        <handlerSetting name="debugLevel" value="ERROR, WARNING, TRACE, CONSOLE, FILE" />
      </handlerSettings>
    </aspNetCore>
  </system.webServer>
</configuration>