.content-cards {
  margin-top: 10px;
}
.content-cards h6 {
  font-size: 1rem;
}
.content-cards.kanban .list {
  width: 100%;
  position: relative;
  height: auto;
  padding: 10px 0;
}
.content-cards.kanban .list .items {
  float: none;
}
.content-cards.kanban .list .item {
  float: none;
  width: 312px;
  margin: 4px 0;
}
.content-cards.kanban .list .title {
  width: calc(100% - 18px) !important;
}
.content-cards.kanban .list .drag {
  float: left;
  padding: 0 5px;
}
.content-cards.kanban .list:after {
  content: '';
  display: block;
  clear: both;
}
.content-orgs .org-item {
  float: left;
  width: calc(33% - 6px);
}
.content-account .col.field.long {
  width: 140px;
}
.content-boards .board {
  float: left;
  width: calc(33% - 8px);
  height: 72px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.content-boards .board a {
  color: #fff !important;
  padding: 5px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: inline-block;
}
.content-boards .board a:active,
.content-boards .board a:hover {
  text-decoration: none;
}
.content-boards .board .options {
  display: none;
}
.content-boards .org-head {
  width: 100%;
}
.content-boards .org-head h1 {
  font-size: 1.7rem;
}
.content-boards .org-boards:after {
  content: '';
  display: block;
  clear: both;
}
.content-teams .grid-items {
  padding-bottom: 20px;
}
.content-security .grid-items {
  padding-bottom: 20px;
}
