<style type="text/css">
    .board:not(.dragging) .list .items:not(.scrolling) .item:hover{background-color:{{color-hover}}; color:#fff;}
    .box > .list-menu li.item:not(.disabled):hover{background-color:{{color-hover}}; color:#fff;}
    }
}
</style>
<div class="kanban">
    <div class="row toolbar pad-top pad-left">
        <div class="col title pad-right">
            <h5>{{name}}</h5>
        </div>
        <div class="col fav">

        </div>
        <div class="col msg">
            <div class="row message hide"><span></span>
                <a href="javascript:" class="icon small btn-close right">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="row lists noselect">
        <div class="row pad text columns">
            {{lists}}
            <div class="col add-list">
                <div class="form-new-list bg pad-sm hide">
                    <form method="post">
                        <div class="row"><input type="text" id="newlist_name" placeholder="Add a list..." /></div>
                        <div class="row pad-top-sm">
                            <div class="col">
                                <button type="submit" class="button btn-save-newlist">Save</button>
                            </div>
                            <div class="col pad-left">
                                <a href="javascript:" class="icon small btn-close margin-top-sm">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row btn">
                    <a href="javascript:" class="button btn-add-list pad-height pad-width">Add a list...</a>
                </div>
            </div>
            <div class="col pad-right">&nbsp;</div>
        </div>
    </div>
    <div class="scroller"><div class="scrollbar"></div></div>
</div>

{{newcard "/Views/Card/Kanban/new-card.html"}}
{{newcard "/Views/List/Kanban/list-menu.html"}}
