.user-details{

}

.content-cards{
    &.kanban .list {width:100%; position:relative; height:auto;
        .items{float:none;}
        .item{float:none; width:315px; margin:4px 0;}
        .drag{float:left; padding:0 5px;}
    }
}