@shadow:2px 2px 5px rgba(0,0,0,0.3);

.boards{text-align:center; width:100%;padding:20px;}
.boards::after, .board::after{content:" ";display:block;font-size:0;height:0;clear:both;}
.boards .board{display:inline-block; position:relative; text-align:left; height:120px; width:250px; 
               padding:15px 25px; margin:5px 7px; border-radius:6px; background-color:#fafafa; color:#fff; overflow:hidden;}
.boards .board.create-new{color:#444; text-align:center;
    .title{font-size:20px;}
}
.boards .board.create-new:hover{color:#009774}
.boards .label{border-radius:5px;}
.boards .title{font-size:22px; font-weight:400; overflow:hidden; text-overflow:ellipsis;}
.boards a.title:link, .boards a.title:visited{color:#fff; text-decoration:none;}
.boards a.title:hover, .boards a.title:active{color:#fff;}
.boards .small{background:transparent !important;}
.boards .label{display:none;}
.boards .small .label{display:inline-block;}
.boards .add-icon{width:100%; padding-top:20px; cursor:default; }
.board .hover-only{display:none;}
.board:hover .hover-only{display:block;opacity:1;}

.color-input{border-radius:4px; width:40px; height:30px;}
.color-picker .color{float:left; border-radius:4px; width:40px; height:30px; margin:10px;}
#boardteam{width:200px;}
.popup textarea{width:100%; box-sizing:border-box;}
.board .options{position:absolute; right:20px; bottom:20px;}
.box .board .icon a:link use{color:#fff !important; fill:#fff !important}
.board.create-new{color:#444;}