<style type="text/css">
    .section.login{max-width:420px;}
    .section.login .logo img{max-width:100%;}
</style>
<div class="row pad-top-xl">
    <div class="section login pad-lg pad-width-xl center">
        <form method="post">
            <div class="row logo pad-top pad-bottom-lg">
                <img src="/images/logo-xs.png" />
            </div>
            <div class="row message hide"><span></span></div>
            <div class="row hover">
                <div class="col field">email</div>
                <div class="col input">
                    <input type="text" id="email" />
                </div>
            </div>
            <div class="row hover">
                <div class="col field">password</div>
                <div class="col input">
                    <input type="password" id="password" />
                </div>
            </div>
            <div class="row align-right pad-top">
                <input type="submit" class="button" value="Log In" />
            </div>
        </form>
    </div>
</div>
