<div class="col six">
    <div class="row hover item" onclick="S.security.details.addKey.show({{groupid}})">
        <a href="javascript:" class="btn-add-security-key pad">
            <div class="col icon small add-icon">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <span class="col pad-left add-label">
                <span class="add-title block">Add Security Key</span>
            </span>
        </a>
    </div>
</div>