<div class="col four key key-{{key}}">
    <div class="row hover pad">
        <input type="checkbox" name="key-{{key}}" data-id="{{groupid}}" {{checked}} {{cant-update}}disabled{{/cant-update}}/>
        <label for="key-{{key}}">{{title}}</label>
        {{can-update}}
        <div class="col right icon small icon-close" onclick="S.security.details.removeKey(event, {{groupid}}, '{{key}}', {{scope}}, {{scopeid}})">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
            </svg>
        </div>
        {{/can-update}} 
    </div>
</div>