<div class="group-form">
    <div class="row message hide"><span></span></div>
    <div class="row margin-bottom">
        <div class="row field long">Security Group Name</div>
        <div class="row hover input"><input type="text" id="groupname" placeholder="Collaborators" /></div>
    </div>
    <div class="row pad-top text-center">
        <a href="javascript:" class="button apply" onclick="S.security.add.submit()">Create Security Group</a>
        <a href="javascript:" class="button cancel" onclick="S.security.add.hide()">Cancel</a>
    </div>
</div>