<div class="org-details">
    <div class="row message hide"><span></span></div>
    {{view-org}}
        <p>{{description}}</p>
        <p>
            <a href="{{website}}" target="_blank">{{website}}</a>
        </p>
    {{/view-org}}
    {{edit-org}}
        <div class="org-form">
            <div class="row hover">
                <div class="col field">Name</div>
                <div class="col input expand"><input type="text" id="orgname" placeholder="Datasilk" value="{{name}}"  maxlength="50"/></div>
            </div>
            <div class="row hover">
                <div class="col field">Description</div>
                <div class="col input expand"><input type="text" id="org_description" value="{{description}}" placeholder="Building open source technologies for the web" /></div>
            </div>
            <div class="row hover">
                <div class="col field">Website</div>
                <div class="col input expand"><input type="text" id="org_website" value="{{website}}" placeholder="https://www.datasilk.io" /></div>
            </div>
            <div class="row pad-top text-center buttons">
                <a href="javascript:" class="button apply hide">Save Changes</a>
            </div>
        </div>
    {{/edit-org}}

    <div class="tabs">{{tabs}}</div>
    <div class="content">
        <div class="movable">{{content}}</div>
    </div>
</div>