<div class="org-details">
    <div class="sub-title">Organization</div>
    <div class="row message hide"><span></span></div>
    <div class="org-info">
        <p class="org-description">{{description}}</p>
        <div class="website-link">
            {{has-website}}
            <a href="{{website}}" target="_blank">{{website}}</a>
            {{/has-website}}
        </div>
    </div>
    {{edit-org}}
        <div class="org-edit-link"><a href="javascript:" onclick="S.orgs.details.editInfo()">Edit Info</a></div>
        <div class="org-form hide">
            <div class="row hover">
                <div class="col field">Name</div>
                <div class="col input expand"><input type="text" id="orgname" placeholder="Datasilk" value="{{name}}"  maxlength="50"/></div>
            </div>
            <div class="row hover">
                <div class="col field">Description</div>
                <div class="col input expand"><input type="text" id="org_description" value="{{description}}" placeholder="Building open source technologies for the web" /></div>
            </div>
            <div class="row hover">
                <div class="col field">Website</div>
                <div class="col input expand"><input type="text" id="org_website" value="{{website}}" placeholder="https://www.datasilk.io" /></div>
            </div>
            <div class="row pad-top text-center buttons">
                <a href="javascript:" class="button apply hide">Save Changes</a>
                <a href="javascript:" class="button cancel" onclick="S.orgs.details.cancelEdit()">Cancel</a>
            </div>
        </div>
    {{/edit-org}}

    <div class="tabs">{{tabs}}</div>
    <div class="tab-content">
        <div class="movable">{{content}}</div>
    </div>
</div>