<div class="no-boards">
    <p>This organization does not contain any boards yet.</p>
    <div class="row text-center">
        <div class="col">
            <a href="javascript:" class="button add-board" onclick="S.orgs.boards.add({{orgId}})">
                <div class="col icon small">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </div>
                <div class="col pad-left">Add Board</div>
            </a>
        </div>
    </div>
</div>