<div class="row message hide"><span></span></div>
<div class="row hover">
    <div class="col field longer">Default Security Group</div>
    <div class="col input">
        <select id="org_groupid">{{groups}}</select>
    </div>
</div>
<div class="row hover">
    <div class="col field longer">Default Card Type</div>
    <div class="col input">
        <select id="org_cardtype">{{cardtypes}}</select>
    </div>
</div>
<div class="vendor-org-settings"></div>
<div class="row buttons pad-top text-center">
    <a href="javascript:" class="button apply btn-save-settings hide" onclick="S.orgs.settings.save()">Save Changes</a>
</div>