<script type="text/html" id="template_neworg">
    <div class="org-form">
        <div class="row message hide"><span></span></div>
        <div class="row hover">
            <div class="col field long">Organization Name</div>
            <div class="col input"><input type="text" id="orgname" placeholder="Datasilk" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Description</div>
            <div class="col input"><input type="text" id="org_description" placeholder="Building open source technologies for the web" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Website</div>
            <div class="col input"><input type="text" id="org_website" placeholder="https://www.datasilk.io" /></div>
        </div>
        <div class="row pad-top text-center">
            <a href="#" class="button apply" onclick="#submit-click#">#submit-label#</a>
            <a href="#" class="button cancel" onclick="S.popup.hide()">Cancel</a>
        </div>
    </div>
</script>