<div class="row hover item item-email" data-id="{{email}}">
    <div class="icon small remove-icon hover-only" onclick="{{remove-onclick}}">
        <a href="javascript:">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
            </svg>
        </a>
    </div>
    <div class="col icon small add-icon">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
        </svg>
    </div>
    <span class="col add-label">
        <span class="add-title block">{{email}}</span>
    </span>
</div>
